#mainCanvas  {
    background-color : #84E0FF;
    position: absolute;
    top : 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

#gameInfo {
    z-index: 999;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border: 1px dotted;
    background-color: rgba(0,109,240,0.3);
    border-radius: 30px;
    border-color:  #17D736;
    color : #EF7126;
    padding: 10px;
    text-align: center;
}


#gameInfo h1 {
    color : white;
    font-size: 50px;
 }

#rules {
    border: 1px solid;
    border-radius: 10px;
    height: 300px;
}

#buton {
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: #1982F3;
}

#nick{

    width: 100%;
    margin-bottom: 10px;
    border-radius: 50px;
    height: 30px;
    text-align: center;
}

#score {
    border-radius: 50px;
    color : white;
    font-size: 18px;
    z-index: 998;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    top: 5px;
    left: 0px;
    right: 0px;
    width: 60%;
    max-width: 275px;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#score h1{
    font-size: 30px;
}

#scoreboard {
    padding: 3px;
    background-color: rgba(0,0,0,0.5);
    font-size: 13px;
    color : white;
    text-align: right;
    position: absolute;
    bottom: 10px;
    left: 5px;
    z-index: 997;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#scoreboard th {
    font-size: 20px;
}
#scoreboard td {
    padding-left: 5px;
}


#zoomdiv {
    color : white;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 997;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
#zoomdiv img {
    width: 32px;
    height: 32px;
}
#topright{
    color : white;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 997;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#topright img {
    width: 32px;
    height: 32px;
}
#settings {
    font-size: 15px;
    background-color: rgba(0,0,0,0.1);
    color : white;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 997;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

