#mainCanvas  {
    background-color : #84E0FF;
    position: absolute;
    top : 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

#gameInfo {
    z-index: 999;
    background-color : #F9E559;
    position: absolute;
    margin: auto;
    top : 0%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 90%;
    max-width: 500px;
    height: 170px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    color : #EF7126;
}

#gameInfo h1 {
    font-size: 50px;
 }

#rules {
    z-index: 998;
    background-color : #7EDDFD;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    left: 0px;
    right: 0px;
    width: 90%;
    max-width: 500px;
    border: 1px solid;
    border-radius: 10px;
}

#buton {
    width: 40%;
    height: 50px;
    border-radius: 50px;
    background-color: #17D736;
}

#nick{

    width: 50%;
    margin-bottom: 10px;
    border-radius: 50px;
    height: 30px;
    text-align: center;
}

#score {
    color : white;
    font-size: 30px;
    z-index: 998;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 60%;
    max-width: 500px;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#score h1{
    font-size: 50px;
}