#mainCanvas  {
    background-color : #87DBF4;
    position: absolute;
    top : 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

#gameInfo {
    z-index: 999;
    background-color : #00d6b2;
    position: absolute;
    margin: auto;
    top : 0%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 500px;
    height: 170px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
}

#gameInfo h1 {
    font-size: 50px;
 }

#rules {
    z-index: 998;
    background-color : #00d6b2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    left: 0px;
    right: 0px;
    width: 500px;
    border: 1px solid;
    border-radius: 10px;
}

#buton {
    width: 50%;
    height: 50px;
    border-radius: 50px;
    background-color: #00b3ee;
}

#nick{

    width: 50%;
    margin-bottom: 10px;
    border-radius: 50px;
    height: 30px;
    text-align: center;
}